# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "1"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT## \
  ##OEROOT##/../meta-openembedded \
  ##OEROOT##/../meta-kodi \
  ##OEROOT##/../meta-meson \
  ##OEROOT##/../meta-ugoos \
  "
